<head>
  <title>Sensor Information</title>
</head>
{% extends "aurdinoApp/base.html" %}
{% block content %}
{% load static %}
   <!-- Latest compiled and minified CSS -->

 <script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<link rel="stylesheet" href="/static/css/main.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-1.12.4.js"></script>

  
 <script type="text/javascript" src="/static/js/loader.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
		
		<br>
		
	<div id="table_div">
		
	    <table id='example' class='table table-striped table-bordered' cellspacing='0' width='100%'>
	    	<thead>
	        	<tr>
	        		<th>Temperature</th>
	        		<th>Humidity</th>
	        		<th>Panel voltage</th>
	        		<th>Current</th>
	        		<th>Power</th>
	        		<th>LED ON/OFF</th>

                    
	        		
	        		
	        		<th>FAN ON/OFF</th>

	        	</tr>
	        </thead>
        	<tbody>
        		<div id="loader-wrapper" style="display: none;" >
				    <div id="loader"></div>
				  </div>
        	</tbody>
    	</table>
    </div>
	<script>document.write('<script src="/static/js/landing.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>

{% endblock %}