body	{
				padding-left:	15px;
				padding-right:	5px;

}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}


 @media only screen and (max-width: 768px) {
  b {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  b {
    font-size: 10px;
  }
}